p>
    This challege is held by Tsinghua Marslab and Shanghai AI Lab.
</p>

<p>
    Understanding the 3D surroundings including the background and foreground object is important for autonomous driving, which can be applied for perception and planning. 
    In the traditional 3D object detection task, the foreground object is represented by the 3D bounding box. 
    However, the geometrical shape of the object is complex, which can not be represented by a simple 3D box, and the perception of background is absent. 
    The goal of this task is to predict the 3D occupancy of the complete scene. 
    In this task, we provide a large-scale occupancy benchmark based on the nuScenes dataset. 
    The benchmark is a voxelized representation of the 3D space, and the occupancy state and semantics of voxel in 3D space are jointly estimated in this task. 
    The complexity of this task lies in the dense prediction of 3D space given the input of image.</p>

<p>
    For more challenges in the Autonomous Driving Challenge on CVPR 2023, please refer to our <a href="https://github.com/CVPR2023-3D-Occupancy-Prediction/CVPR2023-3D-Occupancy-Prediction">website</a>.
</p>

<b>Getting Started</b>
<ol>
    <li>Get familiar with occupancy dataset via our Github.</li>

</ol>
